
body {
    margin: 0;
    background-color: #16151D; 
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
    padding-top: 20px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:white;
    color: #EC4067;
  }
a:active{
    color: #EC4067;
}
  .topbutton {
    background-color:#EC4067;
    color: white;
    width: 110px;
    height:32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.topbutton:hover{
    background-color: white;
    color: #EC4067;
    border: 1px solid #EC4067;
    cursor: pointer;
  }
  
  /*This is the text logo at the top of the left corner*/
.spanlogo{
    font-family: 'Nunito', sans-serif;
    padding-left: 30px;
    font-weight: bold;   
    color: #EC4067;
    font-size: xx-large;
}
.spanlogoblack{
    color: black;
    font-family: 'Nunito', sans-serif;
    padding-left: 10px;
    font-weight: bold;
    font-size: xx-large;
}
.input{
    float: right;
    text-align: center;
    height: 34px;
    margin-top: 12px;
    border-radius: 7px;
}
.input:hover{
    color: #EC4067;
    cursor: pointer;
}
section {
    position: relative;
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    overflow: auto;
    transition: 250ms all;
}

section .imageContainer {
    flex: 0 0 auto;
}

.content {
    border-radius: 20px;
    padding-left: 10px;
background: rgba(214, 10, 163, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.027);
backdrop-filter: blur(6.5px);
-webkit-backdrop-filter: blur(6.5px);
border: 1px solid rgba(255, 255, 255, 0.082);
    min-height: 130px;
    width: 98%;
    border: 1px solid rgb(143, 5, 5);
    padding-left: 10px;
}

.content-display {
    display: block;
}

.content-display {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.content div {
    margin: 10px;
}

#content-close {
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 10px;
    padding: 05px;
    width: 13px;
    border: 3px solid rgb(197, 8, 8);
    border-radius: 20%;
    left: 35px;
}
#content-close:hover{
    color: red;
}

.imageContainer {
    transition: 250ms all;
    width: 190px;
}
.imageContainer img {
    padding-left: 10px;
    width:100%;
    height:100%;  
}

.imageContainer:hover {
    margin-left: 0px 40px;
    transform: scale(1.1);
    width:190px;
    cursor: pointer;
    overflow: hidden;

}


