@import url('./navbar.css');
@import url('./genres.css');
@import url('./content.css');
@import url('./footer.css');

/*The following code takes care of the UI*/

/* Global Reset */
* {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #000000;
  color: #e6e6e6;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}


#content {
  display: none;
}

@media only screen and (min-device-width: 1200px) {
  #header {
    top: 0;
    bottom: auto;
    height: 75px;
  }
}

/*Ends here!*/

#movies-container {
  padding: 1rem;
  
}

.header-titles {
  font-size: 28px;
}

.container {
  padding: 20px;
  margin: 0 auto;
  
}

.movie {
  /* overflow-x: hidden; */
  margin-bottom: 2rem;

}

section {
  grid-template-columns: 10em 10em 10em 10em;
  column-count: 5;
  overflow: auto;
  width: 100%;
  margin-top: 25px;
  transition: 250ms all;
}

section .imageContainer {
  flex: 0 0 auto;
  
}

.imageContainer {
  transition: 250ms all;
  width: 190px;
}

.imageContainer:hover {
  margin-left: 0px 40px;
  transform: scale(1.2);
  cursor: pointer;
}

.imageContainer img {
  padding: 10%;
  width: 97%;
}
.tmdb {
  width: 100px;
  padding-top: 5px;
  padding-left: 100px;
}
